@model IEnumerable<cle_summer_2020_courses.Models.Instructor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instructors</title>
</head>
<body>
    <h1>Instructors List</h1>
    @foreach (var instructor in Model)
    {
        <p>Name: @instructor.Name</p>
    }

    <p><a href="/Course/Index">Return to Courses List</a></p>

</body>
</html>
